#results {
    overflow-y: auto;
    height:80vh;
    -webkit-overflow-scrolling: touch;
}

#musicScaleView {
    overflow-x: auto;
    width: 75vh;
}

.musicScaleListEntry {
    border-bottom: 1px solid #e9e9e9;
    padding-top: 5px;
    padding-bottom: 5px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.selected {
    background-color: #b8dfe0;
}

.truncate {
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

.switch-inactive {
    right: 10%;
}

.switch.large .switch-paddle {
    width: 10rem;
    height: 2.5rem;
    font-size: 1rem;
}

.switch.large input:checked ~ .switch-paddle::after {
    left: 4.5rem;
    width: 5rem;
}

.switch.large .switch-paddle::after {
    top: .25rem;
    left: .25rem;
    width: 5rem;
    height: 2rem;
}