<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>All the modes</title>
    <link rel="stylesheet" href="css/foundation.min.css" />
    <link rel="stylesheet" href="/main.css" />
</head>
<body>

<div id="main"></div>

<script src="vendor/jquery.js"></script>
<script src="vendor/foundation.min.js"></script>
<script src="app.js"></script>
<script src="built/bundle.js"></script>

</body>
</html>